  	 #hauptBox  		{	background-color: grey; 
  	 			 			top: 100px;
  	 						right: 100px;
  	 						width: 1000px;
  	 						height: 900px; }
  	 #navigationsBox  	{	background-color: red;
  	 						margin-top: 50px;
  	 						width: 1000px;
  	 			 			height: 40px;  }
  	 #meldungBox  		{	background-color: blue;
  	 			   			width: 1000px;
  	 			   			height: 100px;  }
  	 #inhaltBox  		{	background-color: green; 
  	 			  			width: 1000px;
  	 			 			height: 500px; }
  	 #meinPortfolioLinkBox {background-color: red;
  	 				   		margin-top: 50px;
  	 				   		width: 250px;
  	 			 	   		height: 40px;}
  	 #offeneAuftraegeLinkBox {background-color: red;
  	 				   		margin-top: 50px;
  	 				   		width: 250px;
  	 			 	   		height: 40px;}
  	 #administrationLinkBox {background-color: red;
  	 				   		margin-top: 50px;
  	 				   		width: 250px;
  	 			 	   		height: 40px;}
  	 #benuzerLinkBox 		{background-color: red;
  	 				   		margin-top: 50px;
  	 				   		width: 250px;
  	 			 	   		height: 40px;
  	 			 	   		}

